.generator-container {
  font: initial;
  line-height: initial;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#text-box-1 {
  border: 0;
  padding: 0;
  height: 450px;
  width: 450px;
  text-align: justify;
  font-size: 1px;
}

#text-box-2 {
  border: 0;
  padding: 0;
  height: auto;
  width: fit-content;
  text-align: justify;
}

.container {
  display: flex;
  flex-direction: row;
}

#formartista-space {
  width: 645px;
  height: 585px;
  position: relative;
}

#shape_svg {
  opacity: 0;
}
