:host {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 16px;
}

form {
    display: flex;
    flex-direction: row;
}

.generator-config-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}