<form [formGroup]="generatorSearchForm">
  <mat-form-field>
    <mat-label>Text</mat-label>
    <textarea #text matInput formControlName="text"></textarea>
    <mat-hint>{{text.value.length}} / 1500 (min)</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Font</mat-label>
    <mat-select formControlName="font">
      <mat-option *ngFor="let font of fonts" [value]="font">
        {{ font }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Shape</mat-label>
    <mat-select formControlName="shape">
      <mat-option *ngFor="let shape of shapes" [value]="shape">
        {{ shape }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Size Factor</mat-label>
    <input matInput formControlName="sizeFactor" type="number" />
  </mat-form-field>
</form>
<div class="generator-config-buttons">
  <button
    mat-flat-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="!generatorSearchForm.valid"
  >
    Draw
  </button>
  <button
    mat-flat-button
    color="primary"
    (click)="onDownload()"
    [disabled]="!generatorSearchForm.valid"
  >
    Download
  </button>
</div>
